<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - The Villain Database</title>
        <meta name="description" content="All about villains">
        <meta name="keywords" content="nicolas, bonnot, villains, super-hero, super, hero, nicolas bonnot">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:title" content="{{ block('title') }} - The Villain Database">
        {# <meta property="og:image" content="http://nicolasbonnot.fr/images/cover.jpg"> #}
        {# <meta property="og:url" content="http://www.nicolasbonnot.fr"> #}
        <meta property="og:site-name" content="{{ block('title') }} - The Villain Database">
        <meta property="og:description" content="All about villains">
        <meta name="twitter:card" content="summary_large_image">
        {# <meta name="twitter:site" content="@Nicolas_B"> #}
        <meta name="twitter:creator" content="@Nicolas_B">
        <meta name="twitter:title" content="{{ block('title') }} - The Villain Database">
        <meta name="twitter:description" content="All about villains">
        {# <meta name="twitter:image:src" content="http://nicolasbonnot.fr/images/cover.jpg"> #}
        {# <link rel="shortcut icon" type="image/png" href="images/favicon.png"> #}

        <link href="/web/styles/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <div class="logo">
                <img src="/web/styles/images/mask.png" class="logo-img" alt="logo">
            </div>
            <div class="title">
                {{ block('title') }} - The Villain Database
            </div>
        </div>
        <div id="menu">
            <div class="sections">
                <div class="item creator">
                    Creator
                </div>
                <div class="item hero">
                    Hero
                </div>
                <div class="item media">
                    Media
                </div>
                <div class="item organization">
                    Organization
                </div>
                <div class="item physical-distinction">
                    Physical distinction
                </div>
                <div class="item saga">
                    Saga
                </div>
                <div class="item species">
                    Species
                </div>
                <div class="item universe">
                    Universe
                </div>
                <div class="item villain">
                    Villain
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                
            {% endblock %}
        </div>
    </body>
</html>